/* 
    Document   : wiki
    Created on : 8/Mai/2013, 1:12:14
    Author     : mafonso
    Description:
        Purpose of the stylesheet follows.
*/

* {
    font-family: 'Droid Sans', sans-serif;
}

body > .navbar, body > .container-fluid {
    max-width: 1586px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, .sidebar-nav a {
    text-shadow: 4px 4px 2px rgba(210, 210, 210, 1) !important;
} 

.hero-unit h1 {
    font-size: 3.5em;
    line-height: 150%;
    margin-bottom: 0.5em;
}

a:hover {
  color: #af7616;
  text-decoration: none;
}

.modal { 
    max-width: 350px !important; 
    max-height: 350px !important; 
    padding: 15px; 
    overflow-y: auto; 
    -webkit-overflow-scrolling: touch; 
}

.bootstrap-wysihtml5-insert-image-gallery {
    max-height: 200px;
    overflow-y: scroll;
}

.bootstrap-wysihtml5-insert-image-gallery .wiki-thumb {
    width: 100px;
    height: 100px;
}

.bootstrap-wysihtml5-insert-image-gallery .wiki-thumb img {
    padding: 5px;
    width: 90px;
    max-height: 90px;
}

.media-list {
    list-style-type: none;
}

.media-object {
    padding: 10px;
}

.wiki-img-featured {
    min-width: 280px;
}

.wiki-img-featured-big {
    min-width: 280px;
}

.wiki-edit-link {
    font-size: 10px;
}

.wiki-search {
    padding: 0 15px;
}

.wiki-date-min {
    font-size: 60%;
    background-color: gray;
}

.wiki-visits-min, .wiki-label-min {
    font-size: 60%;
}

.wiki-media-object-img {
    max-width: 64px;
}

#wiki-unpublished a {
    color: red !important;
}

body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}